// Tipografia
$fuente_principal: 'Monserrat', 'sans-serif';

// Colores

$rosa: #F53756;
$verde: #4cb8b3;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: black;
$blanco: white;


// Tamaños de pantallas

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;